@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Orbitron:wght@400..900&family=Quintessential&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


h1, h2, h3, h4, h5, h6, span {
  font-family: "Quintessential", serif;
}

p, a {
  font-family: "Sue Ellen Francisco", cursive;
}


/* Tailwind plugin or global CSS */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


